@page "/login"

@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using UIComponents
@inject IAuthService authService
@inject NavigationManager navMgr

<SignLogUpIn Login=true OnClick="(credentials) => LoginAsync(credentials)"></SignLogUpIn>

@if (!string.IsNullOrEmpty(resultMsg))
{
    <label style="color: whitesmoke">@resultMsg</label>
}

@code {
    private string resultMsg = "";

    private async Task LoginAsync(string[] credentials)
    {
        resultMsg = "";

        try
        {
                await authService.LoginAsync(new UserLoginDTO(credentials[0], credentials[1]));
                navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
        }
    }
}
